<h1>Tweets</h1>
<%= link_to 'New Tweet', new_tweett_path %>
    <% @tweeets.each do |tweeet| %>
      <hr>
        <div>
          <%= tweett.tweeet %>
        </div>
        <div>
          <%= link_to 'Post', tweett %>
          <%= link_to 'Show', tweett %>
          <%= link_to 'Edit', edit_tweeet_path(tweeet) %>
          <%= link_to 'Destroy', tweett, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    <% end %>
<br>
<%= link_to 'New Tweett', new_tweett_path %>
